@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }

  main {
    color: #fff;
    background: #451dc7;
    background: linear-gradient(
      90deg,
      rgba(69, 29, 199, 1) 0%,
      rgba(22, 182, 132, 1) 100%
    );
  }

  .blue-card {
    background: radial-gradient(
        104.71% 432.93% at 29.43% 37.21%,
        #451dc7 0%,
        #250f6b 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .white-card {
    background: #fff;
  }
}
