{% extends "base.twig" %}

{% block body %}
    <header class="min-h-[90vh]">
        <h1 class="text-6xl font-bold text-center py-6 md:py-16">Test Octave Octave</h1>
        <p class="text-2xl text-gray-500 text-center">Quentin Bassalair - 09/08/2025</p>
    </header>



    <main class="pt-26 px-[20px] md:px-[62px] relative">
        <section class="pb-[80px]">
        <div class="pb-[40px] md:pb-[125px] max-w-screen overflow-hidden ">
        {% include "components/line-svg.twig" %}
           <h1 class="font-light tracking-[-5%] leading-[50px] md:tracking-[-4%] text-[44px] md:text-[100px] lg:text-[140px] md:leading-[100px] lg:leading-[140px]">Our latest <br/> <span class="ml-6 md:ml-[70px] lg:ml-[110px] block reveal-main-title">impact</span> </h1>

           <div class="ml-6 md:ml-[70px] lg:ml-[110px] md:flex md:flex-col md:flex-row items-end gap-y-4 md:gap-x-4 md:justify-between flex-wrap max-w-[1089px]">
            <ul class="trigger-svg mt-[16px] tracking-[-5%] text-[22px] leading-[30px] flex-wrap md:flex-row md:flex md:gap-2 max-w-[700px]">
            <li>Driving change.</li>
            <li>Creating a Positive Impact for</li>
            <li>all our stakeholders.</li>
            </ul>
            <div class="flex flex-col md:flex-row gap-y-4 md:gap-x-4 mt-[24px]">
            <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All case studies</a>
            <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All insights</a>
            </div>
           </div>

        </div>
    
    {# First row #}
        <div class="flex flex-wrap justify-center gap-6 mb-[40px]">
            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Keys to Understand and Apply the European Law on Artificial Intelligence",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image1.avif'), alt: 'image 1' },
              offset: true
            } %}

            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Reducing the Environmental Impact of Cybersecurity: Where to Begin?",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image2.avif'), alt: 'image 2' },
              offset: false
            } %}

            {% include "components/card.twig" with {
              cardColor: "white",
              tag: "Case studies",
              categories: ["Industry", "Capability"],
              title: "SNCF Réseau implements a more efficient hourly production system.",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image3.avif'), alt: 'image 2' },
              offset: true
            } %}
        </div>

        {# Second row #}
        <div class="flex flex-wrap justify-center gap-6 mb-[80px]">
            {% include "components/card-full.twig" with {
                cardColor: "blue",
                tag: "Insights",
                categories: ["Industry", "Capability"],
                title: "Sustainable development, a vector for profound business transformation",
                url: "#",
                image: { src: function('get_theme_file_uri', 'assets/images/image4.avif'), alt: 'image 4' },
            } %}
        </div>

        {# Third row #}
        <div class="flex flex-wrap justify-center gap-6 mb-[40px]">
            {% include "components/card-half.twig" with {
              offset: true,
              reverse: false,
              left: {
                cardColor: "white",
                tag: "Case studies",
                categories: ["Industry", "Capability"],
                title: "We designed a world-leading new specialty healthcare service for a global pharma company",
                url: "#",
                image: { src: function('get_theme_file_uri', 'assets/images/image5.avif'), alt: 'image 5' }
              },
              right: {
                cardColor: "blue",
                tag: "Insights",
                categories: ["Industry", "Capability"],
                title: "Second-Hand: An Expanding Market for 2024",
                url: "#",
                image: { src: function('get_theme_file_uri', 'assets/images/image6.avif'), alt: 'image 6' }
              }
            } %}
        </div>



        <h2 class="text-6xl font-bold text-center py-6 md:py-16">Cards with more text</h2>
        <div class="flex flex-wrap justify-center gap-6 mb-[40px]">
            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Keys to Understand and Apply the European Law on Artificial Intelligence",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image1.avif'), alt: 'image 1' },
              offset: false
            } %}

            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Reducing the Environmental Impact of Cybersecurity: Where toReducing the Environmental Impact of Cybersecurity: Where toReducing the Environmental Impact of Cybersecurity: Where to Begin?",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image2.avif'), alt: 'image 2' },
              offset: false
            } %}

            {% include "components/card.twig" with {
              cardColor: "white",
              tag: "Case studies",
              categories: ["Industry", "Capability"],
              title: "SNCF Réseau implements a more efficient hourly production system.",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image3.avif'), alt: 'image 2' },
              offset: false
            } %}
        </div>

        </section>
    </main>
{% endblock %}
