{% extends "base.twig" %}

{% block body %}
    <header>
        <h1 class="text-6xl font-bold text-center py-6 md:py-16">Test Octave Octave</h1>
        <p class="text-2xl text-gray-500 text-center">Quentin Bassalair - 09/08/2025</p>
    </header>



    <main class="pt-26 px-[20px] md:px-[62px]">
        <section class="pb-[80px]">
        <div class="pb-[40px]">
           <h1 class="font-light tracking-[-5%] leading-[50px] md:tracking-[-4%] text-[44px] md:text-[100px] lg:text-[140px]">Our latest <span class="ml-6">impact</span> </h1>
           <p class="ml-6 mt-[16px] tracking-[-5%] text-[22px] leading-[30px]">Driving change. <br/> Creating a Positive Impact for <br/> all our stakeholders.</p>
        
           <div class="ml-6 flex flex-col gap-y-4 mt-[24px] ">
           <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All case studies</a>
           <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All insights</a>
           </div>
        </div>
    
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Keys to Understand and Apply the European Law on Artificial Intelligence",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image1.jpg'), alt: 'image 1' }
            } %}

            {% include "components/card.twig" with {
              cardColor: "blue",
              tag: "Insights",
              categories: ["Industry", "Capability"],
              title: "Reducing the Environmental Impact of Cybersecurity: Where to Begin?",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image2.jpg'), alt: 'image 2' }
            } %}

            {% include "components/card.twig" with {
              cardColor: "white",
              tag: "Case studies",
              categories: ["Industry", "Capability"],
              title: "SNCF Réseau implements a more efficient hourly production system.",
              url: "#",
              image: { src: function('get_theme_file_uri', 'assets/images/image2.jpg'), alt: 'image 2' }
            } %}
          </div>
        </section>
    </main>
{% endblock %}
