{% extends "base.twig" %}

{% block body %}
    <header>
        <h1 class="text-6xl font-bold text-center py-6 md:py-16">Test Octave Octave</h1>
        <p class="text-2xl text-gray-500 text-center">Quentin Bassalair - 09/08/2025</p>
    </header>



    <main class="pt-26 px-[20px] md:px-[62px]">
        <section>
        <div class="pb-[40px]">
           <h1 class="font-light tracking-[-5%] leading-[50px] md:tracking-[-4%] text-[44px] md:text-[100px] lg:text-[140px]">Our latest <span class="ml-6">impact</span> </h1>
           <p class="ml-6 mt-[16px] tracking-[-5%] text-[22px] leading-[30px]">Driving change. <br/> Creating a Positive Impact for <br/> all our stakeholders.</p>
        
           <div class="ml-6 flex flex-col gap-y-4 mt-[24px] ">
           <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All case studies</a>
           <a href="#" class="bg-white text-[#451DC7] flex items-center w-fit px-[16px] py-[8px] rounded-[100px]"><i class="icon-arrow mr-[8px]"></i>All insights</a>
           </div>
        </div>
        </section>
    </main>
{% endblock %}
